/* ================ 25.7 ================ */
/* #main-section {
    border: 2px solid blue;
    padding: 10px;
}

#container {
    border: 2px solid red;
    padding: 5px;
}

#ul {
    border: 2px solid blueviolet;
}

#list-2 {
    border: 1px solid black;
} */